header {
    text-align: center;
    position: sticky;
    top: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}

div.picGrid > img {
    height: 300px;
    width: 500px;
    border: 2px solid black;
    border-radius: 20px;
}

h2 {
    text-decoration: underline;
}

img#logoYo {
    height: 100px;
    width: 100px;
}

#companyTitle {
    display: inline;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}

.mainPage {
    display: grid;
    grid-template-areas: 
        'header header header header header'
        'left left main main main'
        'menu menu main main main'
        'menu menu main main main'
        'menu menu main main main';
    min-height: 100vh;
    line-height: 2;
}

.locationPage {
    display: grid;
    grid-template-areas: 
        'header header header header header'
        'menu menu main main main'
        'menu menu main main main'
        'menu menu main main main'
        'menu menu main main main';
    min-height: 100vh;
    line-height: 2;
}

.logoHolder {
    grid-area: header;
    position: sticky;
    top: 5px;
    text-align: center;
}

.locationLinks {
    grid-area: menu;
    padding-left: 25px;
}

.picGrid {
    display: flexbox;
    flex-wrap: wrap;
    grid-area: main;
    margin-left: 10px;
}

.aboutCompany {
    grid-area: left;
    padding-left: 25px;
}

.logo {
    position: relative;
}

footer {
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(120, 81, 169);
}

a:visited {
    color: black;
}

a:visited:hover {
    color: rgb(120, 81, 169);
}

.headerColor {
    background-color: rgb(103, 248, 253);
    border-radius: 20px;
    opacity: 0.65;
}

#main {
    background-image: linear-gradient(rgb(103, 248, 253), rgb(238, 253, 100));
    border: 2px solid black;
    border-radius: 20px;
}

p {
    text-indent: 20px;
}